@import url(https://fonts.googleapis.com/css2?family=Oooh+Baby);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC);
/* @import url(https://fonts.googleapis.com/icon?family=Material+Icons); */
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

html,
body {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#title {
    height: 48px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin: 12px 24px;
}

.font {
    font-family: 'Oooh Baby', cursive;
}

.cfont {
    font-family: 'Noto Sans TC', sans-serif;
}

.content {
    position: absolute;
    background-color: rgb(31, 31, 31);
    height: calc(100% - 80px);
    width: calc(100% - 56px);
    padding: 8px;
    padding-top: 72px;
    padding-left: 48px;
}

.material-icons {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(44, 44, 44, 0.4);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(77, 77, 77);
}

/* @media (max-aspect-ratio: 1/1) {
    .content {
        height: calc(100% + 72px);
    }
} */