<div class="home_content">
    <div class="table">
        <div class="t_title">
            <p class="cfont">下載貯列 <b class="font">Download Queue</b></p>
        </div>
        <div class="queue">
            <!-- <div class="progress_bar" id="a0">
                <div class="progress_title">
                    <p class="cfont">test_1</p>
                    <div class="empty"></div>
                    <p class="present cfont">100%</p>
                </div>
                <div class="progress">
                    <div class="in" style="width: 100%;"></div>
                </div>
            </div> -->
        </div>
    </div>
    <hr class="lr_hr">
    <div class="info">
        <div class="t_title">
            <p class="cfont">設定 <b class="font">Setting</b></p>
        </div>
        <div id="setting_form" class="info_content">
            <p class="info_title cfont">一般設定</p>
            <div class="info_card">
                <div class="info_item">
                    <p class="cfont">以資料夾分類</p>
                    <input type="checkbox" name="animate_classify">
                </div>
                <div class="info_item long_item">
                    <p class="cfont">下載資料夾 : </p>
                    <input class="l_input" type="text" name="download_path">
                </div>
                <div class="info_item long_item">
                    <p class="cfont">自定義檔案名稱 : </p>
                    <input class="l_input" type="text" name="customized_file_name">
                </div>
                <div class="info_item long_item">
                    <p class="cfont">自定義資料夾名稱 : </p>
                    <input class="l_input" type="text" name="customized_dir_name">
                </div>
                <div class="info_item">
                    <p class="cfont">補零至第</p>
                    <input class="c_input" type="number" name="zerofile">
                    <p class="cfont">位</p>
                </div>
            </div>
            <hr>
            <p class="info_title cfont">自動下載設定</p>
            <div class="info_card">
                <div class="info_item">
                    <p class="cfont">檢查更新間隔 : </p>
                    <input class="c_input" type="number" name="check_animate_update">
                    <p class="cfont">分鐘</p>
                </div>
                <div class="info_item">
                    <p class="cfont">同時下載數量 : </p>
                    <input class="c_input" type="number" name="auto_download_thread">
                    <p class="cfont">部</p>
                </div>
                <div class="info_item">
                    <p class="cfont">同時連接數量 : </p>
                    <input class="c_input" type="number" name="auto_download_connection">
                    <p class="cfont">個</p>
                </div>
                <div class="info_item">
                    <p class="cfont">失敗重試次數 : </p>
                    <input class="c_input" type="number" name="download_retry">
                    <p class="cfont">次</p>
                </div>
                <div class="info_item">
                    <p class="cfont">下載模式 : </p>
                    <select name="default_download_mode">
                        <option value="0">Test_0</option>
                        <option value="1">Test_1</option>
                        <option value="2">Test_2</option>
                    </select>
                </div>
            </div>
            <button id="submit_setting" class="cfont" onclick="send_setting()">儲存</button>
        </div>
    </div>
</div>