<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="icon" href="../static/img/favicon.ico">
        <link rel="stylesheet" href="../static/css/global.css">
        <link rel="stylesheet" href="../static/css/side-bar.css">
        <link rel="stylesheet" href="../static/css/top-bar.css">
        <link rel="stylesheet" href="../static/css/home.css">
        <link rel="stylesheet" href="../static/css/info.css">
        <link rel="stylesheet" href="../static/css/data.css">
        <script src="../static/js/include-html.js"></script>
        <script src="../static/js/golbal_html.js"></script>
        <script src="../static/js/index.js"></script>
        <script src="../static/js/side-bar.js"></script>
        <script src="../static/js/top-bar.js"></script>
        <script src="../static/js/home.js"></script>
        <title>MyselfAnimeDownloader</title>
    </head>
    <body onhashchange="hash_change()">
        <ih id="top-bar" include-html="top-bar.html"></ih>
        <ih id="side-bar" include-html="side-bar.html"></ih>
        <ih class="content" id="home"></ih>
        <ih class="content" id="info"></ih>
        <ih class="content" id="data"></ih>
    </body>
    <script>
        includeHTML();
        onload();
        home_onload();
        hash_change();
    </script>
</html>