<div class="button-box">
    <button class="selected myself" onclick="show_list(this, 'myself')">Myself</button>
    <button class="anime1" onclick="show_list(this, 'anime1')">Anime1</button>
    <button class="ani-gamer" onclick="show_list(this, 'ani-gamer')">AniGamer</button>
</div>
<ih class="list myself" include-html="list-template"></ih>
<ih class="list anime1" include-html="list-template" style="display: none;"></ih>
<ih class="list ani-gamer" include-html="list-template" style="display: none;"></ih>